# Ignore all .txt files
*.txt

# Ignore all .exe files
*.exe

# Ignore .vscode folder
.vscode/

# Ignore hello folder
hello/

# Ignore all .log files
*.log

# Ignore all .bak files
*.bak

# Ignore all .tmp files
*.tmp
